<body>
<div id="wrh_pinv_PageContainer" style="width:100%;height:100%;">
    <div id="wrh_pinv_ListContainer" style="width:310px;height:100%; margin:0;padding:0;"></div>
    <div id="wrh_pinv_DetailContainer" style="width:100%;height:100%; margin:0;padding:0;">
        <div id="wrh_pinv_DetailHeader" style="width:100%;height:auto; margin:0;padding:0;"></div>
        <div id="wrh_pinv_ProductsTable" style="width:100%;height:100%; margin:0;padding:0;"></div>
        <div id="wrh_pinv_DetailTotal" style="width:100%;height:auto;; margin:0;padding:0;"></div>
    </div>
    <div id="wrh_pinv_RightContainer" style="width:250px;height:100%; margin:0;padding:0;"></div>
</div>
</body>
<script type="text/javascript">
    require(["app","templateDocumentStandardTable", "request"],
            function (APP, TDocumentStandardTable, Request) {
                var wrh_pinv= APP.instanceForID("wrh_pinv_PageContainer", TDocumentStandardTable,
                            { idListContainer:"wrh_pinv_ListContainer",idDetailContainer:"wrh_pinv_DetailContainer",
                                idDetailHeader:"wrh_pinv_DetailHeader",idDetailTable:"wrh_pinv_ProductsTable",idDetailTotal:"wrh_pinv_DetailTotal",
                                idRightContainer:"wrh_pinv_RightContainer" })
                        .setListTable({getDataUrl:"/p_invoice/get_pinvs_list"})
                        .setListDatesContent({header:"Список накладных", bdatelabelText:"c",bdateCondition:"BDATE", edatelabelText:"по",edateCondition:"EDATE"})
                        .setDetailHeaderParameters({dataIDName:"ChID", getDataUrl:"/p_invoice/get_pinv"})
                        .addDetailHeaderTitle({title:"Приходная накладная",
                            titleForNothing:"Приходная накладная не выбрана", titleForFailedLoad:"Нет данных",
                            numberDataItemName:"DocID", dateDataItemName:"DocDate", titleDatePrefix:"от"},25)
                        .addDetailHeaderRow(25,true)
                        .addDetailHeaderTextBox("OurName", "Фирма", 280, {inputStyle:"width:150px"})
                        .addDetailHeaderTextBox("StockName", "Склад", 280, {inputStyle:"width:150px"})
                        .addDetailHeaderTextBox("DocID", "Номер", 100, {inputStyle:"width:40px"})
                        .addDetailHeaderDateTextBox("DocDate", "Дата", 150, "width:80px")
                        .addDetailHeaderRow(25,true)
                        .addDetailHeaderTextBox("CompName", "Предприятие", 280, {inputStyle:"width:200px"})
//                        .addDetailHeaderTextBox("PRODUCT_COLLECTION", "Коллекция", 1000, {inputStyle:"width:120px"})
//                        .addDetailHeaderNumberTextBox("BASE_FACTOR", "Базовый коэффициент", 180, {inputStyle:"width:40px", pattern:"####0.00"})
                        .setDetailTableParameters({conditionIDName:"ChID", getDataUrl:"/p_invoice/get_pinv_products"})
                        .addDetailTotalRow()
                        .addDetailSubTotalCountNumberTextBox("ИТОГО СТРОК:", 190, {inputStyle:"width:40px;"})
                        .addDetailSubtotalNumberTextBox("ИТОГО КОЛИЧЕСТВО:", 700, "Qty", {pattern:"###,###,##0.#########", inputStyle:"width:50px;"})
                        .addDetailSubtotalNumberTextBox("ИТОГО СУММА:", 245, "SumCC_wt", {pattern:"###,###,##0.00#######", inputStyle:"width:80px;"})
                        .addDetailTotalRow(true)
                        .addDetailTotalNumberTextBox("В ДОКУМЕНТЕ СТРОК:", 190, "TCount",
                            {pattern:"###,###,##0.#########", inputStyle:"width:40px;", style:"font-weight:bold;", printLabel:"ИТОГО СТРОК:"})
                        .addDetailTotalNumberTextBox("В ДОКУМЕНТЕ КОЛИЧЕСТВО:", 700, "TQty",
                            {pattern:"###,###,##0.#########", inputStyle:"width:50px;", style:"font-weight:bold;", printLabel:"ИТОГО КОЛИЧЕСТВО:"})
                        .addDetailTotalNumberTextBox("В ДОКУМЕНТЕ СУММА:", 245, "TSumCC_wt",
                            {pattern:"###,###,##0.00#######", inputStyle:"width:80px;", style:"font-weight:bold;", printLabel:"ИТОГО СУММА:"})
//                        .addDetailTotalRow(true)
//                        .addDetailTotalTextBox("Статус:", 1140, "DOCSTATE_NAME", {style:"font-weight:bold;", inputStyle:"width:200px", print:false})
                        .addToolPane("Печать")
                        .addToolPaneActionButton("Печать ценников", {action:"printProdTags"}, "width:200px;", {}, function(){
                            var printWindow= window.open("/print/print_tags");                                           //console.log("printProdTags.onClick printWindow=",printWindow);
                            //window.open("/print?pinvid="+wrh_pinv_ContentController.getDataIDValue(), "", "location=1,status=1,scrollbars=1,width=650,height=600");
                            printWindow["prodTagsContentData"]= this.detailTable.getContent();
                            printWindow["pageProdTagType"]= "tag40X25";
                        })
//                        .addToolPaneActionButton("Печать цен", {action:"printProdPricesTags"}, "width:200px;", {}, function(){
//                            var printWindow= window.open("/print/print_tags");                                           //console.log("printProdPricesTags.onClick printWindow=",printWindow);
//                            //window.open("/print?pinvid="+wrh_pinv_ContentController.getDataIDValue(), "", "location=1,status=1,scrollbars=1,width=650,height=600");
//                            printWindow["prodTagsContentData"]= this.detailTable.getContent();
//                            printWindow["pageProdTagType"]= "tag40X25";
//                        })
                        .addToolPane("Информация о товаре", function(toolPane, detailHeader,detailTable,thisInstance){
                            var detailTableSelectedRow= detailTable.getSelectedRow();
                            if(detailTableSelectedRow) {
                                var htCols = detailTable.getColumns(); var prodInfoHtml = "";
                                for(var c=0;c<htCols.length;c++){
                                    var colItem = htCols[c]; var colData = colItem["data"];
                                    var colValue = detailTableSelectedRow[colData];
                                    if(colData.indexOf('PRODUCT')>=0 || colData.indexOf('BARCODE')>=0)
                                        prodInfoHtml = prodInfoHtml + "<tr><td>"+"<b>"+colItem["name"]+":</b> "+((!colValue)?'':colValue)+"</td></tr>";
                                }
                                toolPane.set("content","<table style=\"margin:0;padding:0;\">"+prodInfoHtml+"</table>");
                            } else toolPane.set("content","");
                        })
                        .addToolXPane("Ценник товара", function(toolPane, detailHeader,detailTable,thisInstance){
                            toolPane.set("content","");
                            var detailTableSelectedRow= detailTable.getSelectedRow();
                            if(detailTableSelectedRow) {
                                var prodTagContentData = {};
                                for(var rowItemName in detailTableSelectedRow) prodTagContentData[rowItemName]= detailTableSelectedRow[rowItemName];
                                toolPane.set("prodTagContentData", prodTagContentData);
//                                toolPane.set("href","/print/product_tag_58x30.html");
                                toolPane.set("href","/print/product_tag_40x25.html");
                            }
                        })
                        .startUp();
    });
</script>
